body {
  margin-top: 2em;
}

h1 img {
  vertical-align: bottom;
}

p {
  font-size: 1.5em;
}

label {
  font-weight: inherit;
}

input, label {
  margin-top: .5em;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin-right: .3em;
  vertical-align: baseline;
}

input[type="text"], input[type="password"] {
  margin-left: .3em;
}

#footer {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: right;
  font-size: 1em;
}
