<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Bluesky Atom feeds</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/oauth_dropins_static/bootstrap.min.css" />
  <link rel="stylesheet" href="/oauth_dropins_static/style.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body class="tp-main container lead">
<h1>
  <img id="logo" width="125" src="/static/logo.jpg" />
  Bluesky Atom
</h1>

<p><b>Read your <a href="https://bsky.app/">Bluesky</a> skyline (timeline) in any RSS/Atom <a href="https://indieweb.org/feed_reader">feed reader</a>!</b></p>

<p>Enter your handle and password below. We strongly recommend using an <a href="https://github.com/bluesky-social/atproto-ecosystem/blob/main/app-passwords.md">app password</a> instead of your main password.</p>

<br>

<form action="/generate" method="post">
<p>
 <nobr>
  <label for="handle">Handle</label>
  <input type="text" id="handle" name="handle" required placeholder="you.bsky.social"
         value="{{ request.values.get('handle', '') }}" />
 </nobr>
 &nbsp;&nbsp;
 <nobr>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" required placeholder="p4ssw0rd"
         value="{{ request.values.get('password', '') }}" />
 </nobr>
 <br>
 <nobr>
  <input type="checkbox" id="replies" name="replies"
         {% if request.values.get('replies') in ['on', None] %} checked {% endif %} />
  <label for="replies">Include replies</label>
 </nobr>
 &nbsp;&nbsp;
 <nobr>
  <input type="checkbox" id="reposts" name="reposts"
         {% if request.values.get('reposts') in ['on', None] %} checked {% endif %} />
  <label for="reposts">Include reposts</label>
 </nobr>
 <br>
 <input type="submit" value="Go" />
</p>
</form>

<br>

{% if error %}
 <p style="color: red">Error: {{ error }}</p>
{% else %}{% if feed_url %}
 <p style="color: darkgreen">
   Here's your feed URL: <a href="{{ feed_url }}">{{ feed_url }}</a>
 </p>
{% endif %}
{% endif %}

<div id="footer">
  <a href="https://github.com/snarfed/bluesky-atom">Source</a>
  | <a href="https://github.com/snarfed/bluesky-atom/issues">Feedback</a>
  | <a href="https://indieweb.org/discuss">Chat</a>
  | <a href="https://indieweb.org/">#IndieWeb</a>
</div>
</body>
</html>
